html, body {
    height: 100%;
    margin: 0;
    font-weight: bold;
    color: #142cff!important;
}
#map{
    margin: 0;
    height: 100vh; /*this works rather that %*/
}


.input-group {
    z-index: 0!important;
    left: 50px;
    bottom: 85%;
    position: fixed;
    width: 20%;
}

.list-group {
    z-index: 0!important;
    top: 20%;
    left: 50px;
    bottom: 53%;
    position: fixed;
    width: 20%;
}

.btn-group{
    z-index: 0!important;
    top: 20%;
    left: 50px;
    bottom: 53%;
    position: fixed;
    width: 20%;
}
#dropbutton{
    left: 50px;
    position: fixed;
    width: 20%;
}
#list-form {
    z-index: 0!important;
    background-color: #1b6d85;
}

.gmnoprint { /*removing map/satellite button*/
    display: none;
}

/*.container-fluid{
    padding: 0;
}*/

#markerImage{

}

#markerDiv{
    width: 300px;
    height: 300px;
}

.markerid{
    width: 3000px;
}

@media only screen and (max-width: 700px) {
    #bigList{
        visibility: hidden;
    }
    .btn-group{
        left: 20px;
        visibility: visible;
    }
    #dropbutton{
        bottom: 80%;
        left: 20px;
        width: 100px;
    }
    .input-group{
        bottom: 90%;
        left: 20px;
        width: 100px;
    }

    .dropdown-menu{
        z-index: 0!important;
        top: 20%;
        left: 20px;
        bottom: 53%;
        position: fixed;
        width: 20%;
    }
}
@media only screen and (min-width: 700px) {
    .btn-group {
        visibility: hidden;
    }
}